Istalação e importação do pySpark para análise

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 41 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 15.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=d2ea9ce08823255e9aef776eb2a6901fd312f1a44239010ec84d0d052dfa954c
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

Configurando SparkSession

In [ ]:
spark = (
    SparkSession.builder
      .master('local')
      .appName('marketing')
      .config('spark.ui.port', '4050')
      .getOrCreate()
)




---


Importação do DataFrame

In [ ]:
df = (spark.read
           .format("csv") 
           .option("inferSchema", "true") 
           .option("header", "true") 
           .option("sep", ",") 
           .load("/content/drive/MyDrive/Colab Notebooks/pre-projeto-analise de dados/marketing_campaign_pySpark/part-00000-9801276f-e106-4346-9280-6d6b0aa044b2-c000.csv")
           .createOrReplaceTempView("marketing")
     )

Verificação do Dataframe

In [ ]:
spark.sql('SELECT * FROM marketing').show()

+----+-------------+-----------+------------+-------+-------------+-----------------+-------------+------------+----------+-----------+-------------------+------------------+------------------+------------------+-----------------+------------+-----------------+-------------+--------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+--------+-----------------+------------+-----------+
|  ID|AnoNascimento|   Educacao| EstadoCivil|Receita|CriancaNaCasa|AdolescenteNaCasa|DataInscricao|UltimaCompra|TotalVinho|TotalFrutas|TotalProdutosCarnes|TotalProdutosPeixe|TotalProdutosDoces|TotaltProdutosOuro|QtComprasDesconto|QtComprasWeb|QtComprasCatalogo|QtComprasLoja|QtVistasWebMes|AceitouCamapanha3|AceitouCamapanha4|AceitouCamapanha5|AceitouCamapanha1|AceitouCamapanha2| Reclamacao|Resposta|QtCamapanhaAceita|TotalCompras|MenorEmCasa|
+----+-------------+-----------+------------+-------+-------------+-----------------+-------------+------------+----------+-----------+-------------------+------------------+------------------+------------------+-----------------+------------+-----------------+-------------+--------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+--------+-----------------+------------+-----------+
|5524|         1957|  Graduacao|    Solteiro|58138.0|            0|                0|   2012-04-09|          58|       635|         88|                546|               172|                88|                88|                3|           8|               10|            4|             7|                0|                0|                0|                0|                0|NaoReclamou| Aceitou|                0|          25|          0|
|2174|         1954|  Graduacao|    Solteiro|46344.0|            1|                1|   2014-08-03|          38|        11|          1|                  6|                 2|                 1|                 6|                2|           1|                1|            2|             5|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|           6|          2|
|4141|         1965|  Graduacao|UniaoEstavel|71613.0|            0|                0|   2013-08-21|          26|       426|         49|                127|               111|                21|                42|                1|           8|                2|           10|             4|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|          21|          0|
|6182|         1984|  Graduacao|UniaoEstavel|26646.0|            1|                0|   2014-10-02|          26|        11|          4|                 20|                10|                 3|                 5|                2|           2|                0|            4|             6|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|           8|          1|
|5324|         1981|  Doutorado|      Casado|58293.0|            1|                0|   2014-01-19|          94|       173|         43|                118|                46|                27|                15|                5|           5|                3|            6|             5|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|          19|          1|
|7446|         1967|     Mestre|UniaoEstavel|62513.0|            0|                1|   2013-09-09|          16|       520|         42|                 98|                 0|                42|                14|                2|           6|                4|           10|             6|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|          22|          1|
| 965|         1971|  Graduacao|  Divorciado|55635.0|            0|                1|   2012-11-13|          34|       235|         65|                164|                50|                49|                27|                4|           7|                3|            7|             6|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|          21|          1|
|6177|         1985|  Doutorado|      Casado|33454.0|            1|                0|   2013-08-05|          32|        76|         10|                 56|                 3|                 1|                23|                2|           4|                0|            4|             8|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|          10|          1|
|4855|         1974|  Doutorado|UniaoEstavel|30351.0|            1|                0|   2013-06-06|          19|        14|          0|                 24|                 3|                 3|                 2|                1|           3|                0|            2|             9|                0|                0|                0|                0|                0|NaoReclamou| Aceitou|                0|           6|          1|
|5899|         1950|  Doutorado|UniaoEstavel| 5648.0|            1|                1|   2014-03-13|          68|        28|          0|                  6|                 1|                 1|                13|                1|           1|                0|            0|            20|                1|                0|                0|                0|                0|NaoReclamou|Rejeitou|                1|           2|          2|
|1994|         1983|  Graduacao|      Casado|   null|            1|                0|   2013-11-15|          11|         5|          5|                  6|                 0|                 2|                 1|                1|           1|                0|            2|             7|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|           4|          1|
| 387|         1976|  Mestrando|      Casado| 7500.0|            0|                0|   2012-11-13|          59|         6|         16|                 11|                11|                 1|                16|                1|           2|                0|            3|             8|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|           6|          0|
|2125|         1959|  Graduacao|  Divorciado|63033.0|            0|                0|   2013-11-15|          82|       194|         61|                480|               225|               112|                30|                1|           3|                4|            8|             2|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|          16|          0|
|8180|         1952|     Mestre|  Divorciado|59354.0|            1|                1|   2013-11-15|          53|       233|          2|                 53|                 3|                 5|                14|                3|           6|                1|            5|             6|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|          15|          2|
|2569|         1987|  Graduacao|      Casado|17323.0|            0|                0|   2012-10-10|          38|         3|         14|                 17|                 6|                 1|                 5|                1|           1|                0|            3|             8|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|           5|          0|
|2114|         1946|  Doutorado|    Solteiro|82800.0|            0|                0|   2012-11-24|          23|      1006|         22|                115|                59|                68|                45|                1|           7|                6|           12|             3|                0|                0|                1|                1|                0|NaoReclamou| Aceitou|                2|          26|          0|
|9736|         1980|  Graduacao|      Casado|41850.0|            1|                1|   2012-12-24|          51|        53|          5|                 19|                 2|                13|                 4|                3|           3|                0|            3|             8|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|           9|          2|
|4939|         1946|  Graduacao|UniaoEstavel|37760.0|            0|                0|   2012-08-31|          20|        84|          5|                 38|               150|                12|                28|                2|           4|                1|            6|             7|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|          13|          0|
|6565|         1949|     Mestre|      Casado|76995.0|            0|                1|   2013-03-28|          91|      1012|         80|                498|                 0|                16|               176|                2|          11|                4|            9|             5|                0|                0|                0|                1|                0|NaoReclamou|Rejeitou|                1|          26|          1|
|2278|         1985|EnsinoMedio|    Solteiro|33812.0|            1|                0|   2012-03-11|          86|         4|         17|                 19|                30|                24|                39|                2|           2|                1|            3|             6|                0|                0|                0|                0|                0|NaoReclamou|Rejeitou|                0|           8|          1|
+----+-------------+-----------+------------+-------+-------------+-----------------+-------------+------------+----------+-----------+-------------------+------------------+------------------+------------------+-----------------+------------+-----------------+-------------+--------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+--------+-----------------+------------+-----------+
only showing top 20 rows



---


Consulta para descobrir o perfil de clientes que compram com frequencia na loja

In [ ]:
spark.sql('SELECT AnoNascimento, Educacao, EstadoCivil, Reclamacao, TotalCompras FROM marketing WHERE TotalCompras > 10').show()

+-------------+---------+------------+-----------+------------+
|AnoNascimento| Educacao| EstadoCivil| Reclamacao|TotalCompras|
+-------------+---------+------------+-----------+------------+
|         1957|Graduacao|    Solteiro|NaoReclamou|          25|
|         1965|Graduacao|UniaoEstavel|NaoReclamou|          21|
|         1981|Doutorado|      Casado|NaoReclamou|          19|
|         1967|   Mestre|UniaoEstavel|NaoReclamou|          22|
|         1971|Graduacao|  Divorciado|NaoReclamou|          21|
|         1959|Graduacao|  Divorciado|NaoReclamou|          16|
|         1952|   Mestre|  Divorciado|NaoReclamou|          15|
|         1946|Doutorado|    Solteiro|NaoReclamou|          26|
|         1946|Graduacao|UniaoEstavel|NaoReclamou|          13|
|         1949|   Mestre|      Casado|NaoReclamou|          26|
|         1982|Graduacao|      Casado|NaoReclamou|          12|
|         1979|Graduacao|      Casado|NaoReclamou|          43|
|         1949|Doutorado|      Casado|NaoReclamou|          17|
|         1954|Doutorado|      Casado|NaoReclamou|          20|
|         1951|Graduacao|UniaoEstavel|NaoReclamou|          20|
|         1976|Graduacao|      Casado|NaoReclamou|          14|
|         1986|Graduacao|    Solteiro|NaoReclamou|          27|
|         1965|Doutorado|      Casado|NaoReclamou|          26|
|         1963|   Mestre|UniaoEstavel|NaoReclamou|          11|
|         1952|Doutorado|  Divorciado|NaoReclamou|          17|
+-------------+---------+------------+-----------+------------+
only showing top 20 rows



---
Consulta para verificar se há correlação entre montante gasto em frutas e a quantidade de crianças morando na casa

In [ ]:
spark.sql('spark.sql('SELECT TotalFrutas, CriancaNaCasa, TotalCompras FROM marketing ORDER BY TotalFrutas DESC').show()

+-----------+-------------+------------+
|TotalFrutas|CriancaNaCasa|TotalCompras|
+-----------+-------------+------------+
|        199|            0|          31|
|        199|            0|          31|
|        197|            0|          24|
|        194|            0|          14|
|        194|            0|          17|
|        194|            0|          17|
|        193|            0|          22|
|        193|            0|          20|
|        190|            0|          17|
|        189|            0|          17|
|        185|            0|          19|
|        185|            0|          19|
|        184|            0|          17|
|        183|            0|          21|
|        183|            0|          22|
|        183|            0|          21|
|        181|            0|          30|
|        178|            0|          25|
|        178|            0|          21|
|        178|            0|          20|
+-----------+-------------+------------+
only showing top 20 rows



---
Consulta para verificar relação entre educação e receita para pessoas nascidas depois de 1990 sem menores morando na mesma casa

In [ ]:
spark.sql('SELECT Educacao, MenorEmCasa, Receita, EstadoCivil FROM marketing WHERE MenorEmCasa == 0 AND AnoNascimento > 1990;').show()

+-----------+-----------+-------+------------+
|   Educacao|MenorEmCasa|Receita| EstadoCivil|
+-----------+-----------+-------+------------+
|EnsinoMedio|          0| 7500.0|      Casado|
|  Doutorado|          0|68126.0|    Solteiro|
|  Graduacao|          0|86037.0|    Solteiro|
|     Mestre|          0|92859.0|    Solteiro|
|     Mestre|          0|42670.0|UniaoEstavel|
|  Graduacao|          0|74293.0|    Solteiro|
|  Doutorado|          0|68682.0|UniaoEstavel|
|  Graduacao|          0|80134.0|UniaoEstavel|
|  Graduacao|          0|34935.0|      Casado|
|  Graduacao|          0|42691.0|      Casado|
|  Graduacao|          0|34824.0|    Solteiro|
|  Graduacao|          0|89891.0|UniaoEstavel|
|  Graduacao|          0|71163.0|    Solteiro|
|  Graduacao|          0|48789.0|    Solteiro|
|EnsinoMedio|          0|61618.0|    Solteiro|
|  Graduacao|          0|75114.0|UniaoEstavel|
|  Graduacao|          0|95529.0|    Solteiro|
|  Graduacao|          0|72354.0|    Solteiro|
|  Graduacao|          0|74293.0|    Solteiro|
|  Graduacao|          0|34824.0|    Solteiro|
+-----------+-----------+-------+------------+
only showing top 20 rows

---
Observar a relação entre consumo de vinho e escolaridade em casa para viúvos

In [ ]:
spark.sql('SELECT Educacao, EstadoCivil FROM marketing WHERE EstadoCivil = "Viuvo"').show()

+-----------+-----------+-----------+
|   Educacao|MenorEmCasa|EstadoCivil|
+-----------+-----------+-----------+
|  Graduacao|          1|      Viuvo|
|  Graduacao|          1|      Viuvo|
|  Doutorado|          1|      Viuvo|
|  Graduacao|          1|      Viuvo|
|     Mestre|          1|      Viuvo|
|  Graduacao|          0|      Viuvo|
|  Graduacao|          0|      Viuvo|
|  Graduacao|          0|      Viuvo|
|  Graduacao|          2|      Viuvo|
|  Doutorado|          1|      Viuvo|
|  Graduacao|          0|      Viuvo|
|     Mestre|          1|      Viuvo|
|  Graduacao|          0|      Viuvo|
|  Doutorado|          1|      Viuvo|
|  Graduacao|          1|      Viuvo|
|EnsinoMedio|          0|      Viuvo|
|  Graduacao|          0|      Viuvo|
|EnsinoMedio|          1|      Viuvo|
|  Graduacao|          1|      Viuvo|
|  Graduacao|          0|      Viuvo|
+-----------+-----------+-----------+
only showing top 20 rows

---
Relação entre receita, educação e menores morando na mesma casa para solteiros

In [ ]:
spark.sql('SELECT Educacao, Receita, MenorEmCasa, EstadoCivil FROM marketing WHERE EstadoCivil = "Solteiro" ORDER BY Receita ASC').show()

+-----------+-------+-----------+-----------+
|   Educacao|Receita|MenorEmCasa|EstadoCivil|
+-----------+-------+-----------+-----------+
|  Doutorado|   null|          0|   Solteiro|
|  Graduacao|   null|          3|   Solteiro|
|  Graduacao|   null|          3|   Solteiro|
|EnsinoMedio|   null|          2|   Solteiro|
|  Doutorado|   null|          1|   Solteiro|
|  Graduacao|   null|          1|   Solteiro|
|  Graduacao|   null|          1|   Solteiro|
|  Graduacao|   null|          2|   Solteiro|
|  Graduacao|   null|          1|   Solteiro|
|  Graduacao| 3502.0|          1|   Solteiro|
|     Mestre| 6560.0|          0|   Solteiro|
|  Doutorado| 7144.0|          2|   Solteiro|
|  Mestrando| 7500.0|          1|   Solteiro|
|  Graduacao| 7500.0|          2|   Solteiro|
|  Graduacao| 7500.0|          1|   Solteiro|
|  Graduacao| 8028.0|          0|   Solteiro|
|     Mestre| 8820.0|          2|   Solteiro|
|  Mestrando| 8940.0|          1|   Solteiro|
|  Graduacao| 9255.0|          1|   Solteiro|
|  Graduacao|10245.0|          1|   Solteiro|
+-----------+-------+-----------+-----------+
only showing top 20 rows

---
Número máximo de menores morando na mesma casa

In [ ]:
spark.sql("SELECT MenorEmCasa FROM marketing").distinct().show()

+-----------+
|MenorEmCasa|
+-----------+
|          1|
|          3|
|          2|
|          0|
+-----------+

---
Relação entre gastos para consumo de carne e consumo de peixe, organizado em relação a total de compras realizadas com a empresa

In [ ]:
spark.sql("SELECT TotalProdutosCarnes, TotalProdutosPeixe FROM marketing ORDER BY TotalCompras DESC").show()

+-------------------+------------------+
|TotalProdutosCarnes|TotalProdutosPeixe|
+-------------------+------------------+
|               1622|                17|
|               1725|                 1|
|                181|               149|
|               1582|                 1|
|                204|                38|
|                265|               115|
|                265|               115|
|                363|               123|
|                572|                93|
|                397|                76|
|                384|                84|
|                242|                55|
|                249|                64|
|                207|                15|
|                217|                29|
|                713|                38|
|                309|               201|
|                 91|                 8|
|                161|               120|
|                184|                10|
+-------------------+------------------+
only showing top 20 rows

---
Relação entre montante dasto em frutas e doces em relação a quantidade de crianças na casa

In [ ]:
spark.sql("SELECT CriancaNaCasa, TotalFrutas, TotalProdutosDoces FROM marketing ORDER BY CriancaNaCasa DESC").show()

+-------------+-----------+------------------+
|CriancaNaCasa|TotalFrutas|TotalProdutosDoces|
+-------------+-----------+------------------+
|            2|         42|                37|
|            2|          1|                 3|
|            2|          0|                 4|
|            2|          3|                 1|
|            2|          0|                 0|
|            2|          5|                10|
|            2|          0|                 0|
|            2|          3|                 1|
|            2|          3|                 8|
|            2|          1|                 3|
|            2|          0|                 0|
|            2|          0|                 0|
|            2|          3|                 1|
|            2|          0|                 0|
|            2|          1|                 5|
|            2|          1|                 0|
|            2|          0|                 0|
|            2|          7|                 3|
|            2|          0|                 0|
|            2|          0|                 0|
+-------------+-----------+------------------+
only showing top 20 rows

Comparação entre as diferentes possibilidades de meios de compra de acordo com o número de compreas realizado por cada cliente

In [ ]:
spark.sql("SELECT QtComprasWeb, QtComprasCatalogo, QtComprasLoja, TotalCompras FROM marketing ORDER BY TotalCompras desc").show()

+------------+-----------------+-------------+------------+
|QtComprasWeb|QtComprasCatalogo|QtComprasLoja|TotalCompras|
+------------+-----------------+-------------+------------+
|           0|               28|            1|          44|
|           0|               28|            0|          43|
|           9|                6|            9|          39|
|           0|               22|            0|          37|
|          11|                9|           12|          35|
|          11|               10|           11|          34|
|          11|               10|           11|          34|
|           8|                9|           13|          34|
|          11|               11|            5|          34|
|           8|                5|            9|          33|
|           6|               10|           13|          33|
|           6|                2|           12|          33|
|           8|                9|            8|          33|
|           9|                6|           12|          32|
|           9|                6|           12|          32|
|           9|               11|           11|          32|
|          11|               10|           10|          32|
|           8|                2|            9|          32|
|          10|                7|           10|          32|
|           7|                4|            9|          32|
+------------+-----------------+-------------+------------+
only showing top 20 rows

Comparação do montante gasto em Vinhos, frutas, carnes e peixe organizado de acordo com a quantidade de compras que cada cliente realizou

In [ ]:
spark.sql("SELECT TotalVinho, TotalFrutas, TotalProdutosCarnes, TotalProdutosPeixe, TotalCompras FROM marketing ORDER BY TotalCompras desc").show()

+----------+-----------+-------------------+------------------+------------+
|TotalVinho|TotalFrutas|TotalProdutosCarnes|TotalProdutosPeixe|TotalCompras|
+----------+-----------+-------------------+------------------+------------+
|        55|         16|               1622|                17|          44|
|         1|          1|               1725|                 1|          43|
|       515|         47|                181|               149|          39|
|        20|          2|               1582|                 1|          37|
|      1200|          0|                204|                38|          35|
|      1004|         59|                265|               115|          34|
|      1004|         59|                265|               115|          34|
|       726|         53|                363|               123|          34|
|      1001|         17|                572|                93|          34|
|       941|         14|                397|                76|          33|
|       563|         76|                384|                84|          33|
|       285|         28|                242|                55|          33|
|      1215|         33|                249|                64|          33|
|       897|         23|                207|                15|          32|
|       757|         80|                217|                29|          32|
|       387|         20|                713|                38|          32|
|       688|         14|                309|               201|          32|
|       539|          6|                 91|                 8|          32|
|       806|         80|                161|               120|          32|
|       490|          0|                184|                10|          32|
+----------+-----------+-------------------+------------------+------------+
only showing top 20 rows

---
Dados dos clientes que responderam positivamente a pelo menos uma campanha de marketing

In [ ]:
spark.sql("SELECT * FROM marketing WHERE QtCamapanhaAceita > 0").show()

+----+-------------+-----------+------------+-------+-------------+-----------------+-------------+------------+----------+-----------+-------------------+------------------+------------------+------------------+-----------------+------------+-----------------+-------------+--------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+--------+-----------------+------------+-----------+
|  ID|AnoNascimento|   Educacao| EstadoCivil|Receita|CriancaNaCasa|AdolescenteNaCasa|DataInscricao|UltimaCompra|TotalVinho|TotalFrutas|TotalProdutosCarnes|TotalProdutosPeixe|TotalProdutosDoces|TotaltProdutosOuro|QtComprasDesconto|QtComprasWeb|QtComprasCatalogo|QtComprasLoja|QtVistasWebMes|AceitouCamapanha3|AceitouCamapanha4|AceitouCamapanha5|AceitouCamapanha1|AceitouCamapanha2| Reclamacao|Resposta|QtCamapanhaAceita|TotalCompras|MenorEmCasa|
+----+-------------+-----------+------------+-------+-------------+-----------------+-------------+------------+----------+-----------+-------------------+------------------+------------------+------------------+-----------------+------------+-----------------+-------------+--------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+--------+-----------------+------------+-----------+
|5899|         1950|  Doutorado|UniaoEstavel| 5648.0|            1|                1|   2014-03-13|          68|        28|          0|                  6|                 1|                 1|                13|                1|           1|                0|            0|            20|                1|                0|                0|                0|                0|NaoReclamou|Rejeitou|                1|           2|          2|
|2114|         1946|  Doutorado|    Solteiro|82800.0|            0|                0|   2012-11-24|          23|      1006|         22|                115|                59|                68|                45|                1|           7|                6|           12|             3|                0|                0|                1|                1|                0|NaoReclamou| Aceitou|                2|          26|          0|
|6565|         1949|     Mestre|      Casado|76995.0|            0|                1|   2013-03-28|          91|      1012|         80|                498|                 0|                16|               176|                2|          11|                4|            9|             5|                0|                0|                0|                1|                0|NaoReclamou|Rejeitou|                1|          26|          1|
|1993|         1949|  Doutorado|      Casado|58607.0|            0|                1|   2012-12-23|          63|       867|          0|                 86|                 0|                 0|                19|                3|           2|                3|            9|             8|                0|                1|                0|                0|                0|NaoReclamou|Rejeitou|                1|          17|          1|
|1966|         1965|  Doutorado|      Casado|84618.0|            0|                0|   2013-11-22|          96|       684|        100|                801|                21|                66|                 0|                1|           6|                9|           10|             2|                0|                0|                1|                0|                0|NaoReclamou|Rejeitou|                1|          26|          0|
|5710|         1970|  Graduacao|UniaoEstavel|40548.0|            0|                1|   2012-10-10|          31|       110|          0|                  5|                 2|                 0|                 3|                2|           2|                1|            4|             5|                0|                1|                0|                0|                0|NaoReclamou|Rejeitou|                1|           9|          1|
|2968|         1943|  Doutorado|  Divorciado|48948.0|            0|                0|   2013-01-02|          53|       437|          8|                206|               160|                49|                42|                2|           7|               10|            5|             6|                1|                0|                0|                0|                0|NaoReclamou| Aceitou|                1|          24|          0|
|2225|         1977|  Graduacao|  Divorciado|82582.0|            0|                0|   2014-07-06|          54|       510|        120|                550|               156|                40|               241|                1|           4|                9|            7|             1|                1|                0|                0|                1|                0|NaoReclamou| Aceitou|                2|          21|          0|
|6260|         1955|     Mestre|UniaoEstavel|82384.0|            0|                0|   2012-11-19|          55|       984|         51|                432|               180|               120|               190|                1|           3|               10|           13|             1|                0|                0|                1|                0|                0|NaoReclamou| Aceitou|                1|          27|          0|
|6853|         1982|     Mestre|    Solteiro|75777.0|            0|                0|   2013-04-07|          12|       712|         26|                538|                69|                13|                80|                1|           3|                6|           11|             1|                0|                1|                1|                0|                0|NaoReclamou| Aceitou|                2|          21|          0|
|9369|         1979|EnsinoMedio|    Solteiro|88194.0|            0|                1|   2014-03-19|          19|       688|         14|                309|               201|                24|                38|                1|          11|               10|           10|             5|                1|                0|                0|                1|                0|NaoReclamou| Aceitou|                2|          32|          1|
|8132|         1975|  Doutorado|      Casado|60631.0|            1|                1|   2013-05-04|          88|       565|          6|                 65|                 0|                 6|                19|                5|           9|                2|            8|             7|                0|                1|                0|                0|                0|NaoReclamou|Rejeitou|                1|          24|          2|
|7503|         1976|  Graduacao|    Solteiro|75825.0|            0|                0|   2012-12-10|          40|      1032|        105|                779|               137|               105|                51|                0|           5|                8|            9|             4|                1|                0|                0|                0|                0|NaoReclamou| Aceitou|                1|          22|          0|
|1618|         1965|  Graduacao|UniaoEstavel|56046.0|            0|                0|   2013-02-01|           9|       577|          0|                 64|                 0|                 0|                51|                2|          10|                1|            8|             8|                1|                0|                0|                0|                0|NaoReclamou| Aceitou|                1|          21|          0|
| 273|         1970|     Mestre|      Casado|36138.0|            1|                1|   2013-07-16|          48|       130|          0|                 16|                 0|                 0|                 5|                5|           3|                1|            4|             7|                0|                1|                0|                0|                0|NaoReclamou|Rejeitou|                1|          13|          2|
|4452|         1957|  Graduacao|    Solteiro|50388.0|            0|                1|   2014-05-28|           3|       292|          6|                 37|                 0|                 3|                34|                4|           6|                1|            6|             7|                0|                1|                0|                1|                0|NaoReclamou| Aceitou|                2|          17|          1|
|8504|         1973|  Graduacao|      Casado|79593.0|            0|                0|   2014-12-05|          70|       350|         60|                568|               110|               133|               145|                1|           5|                6|            7|             2|                0|                0|                1|                0|                0|NaoReclamou|Rejeitou|                1|          19|          0|
|7247|         1960|  Graduacao|       Viuvo|47916.0|            0|                1|   2012-11-22|          72|       505|          0|                 26|                 0|                 0|                75|                5|           7|                4|            6|             6|                0|                1|                0|                0|                0|NaoReclamou|Rejeitou|                1|          22|          1|
|4646|         1951|EnsinoMedio|      Casado|78497.0|            0|                0|   2013-01-12|          44|       207|         26|                447|                75|                 0|               223|                1|           5|                7|           12|             2|                0|                0|                0|                1|                0|NaoReclamou|Rejeitou|                1|          25|          0|
|7431|         1991|  Doutorado|    Solteiro|68126.0|            0|                0|   2012-10-11|          40|      1332|         17|                311|                23|                51|                86|                1|           7|                4|            5|             9|                0|                1|                0|                0|                0|NaoReclamou| Aceitou|                1|          17|          0|
+----+-------------+-----------+------------+-------+-------------+-----------------+-------------+------------+----------+-----------+-------------------+------------------+------------------+------------------+-----------------+------------+-----------------+-------------+--------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+--------+-----------------+------------+-----------+
only showing top 20 rows