Instalação e importação de bibliotecas pandas e pandera para tratamento dos dados

In [ ]:
pip install pandera

In [ ]:
import pandas as pd
import pandera as pa



---
Importar dataset para o colab

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pre-projeto-analise de dados/marketing_campaign.csv', sep=',')
df



---
Identificar quantas linhas e colunas no data set

In [ ]:
df.shape

(2240, 29)



---
Identificar os tipos de dados presentes em cada coluna no dataset

In [ ]:
df.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

---
Traduzir e Renomear as colunas para o pourtuguês

In [ ]:
df.rename(columns={
'Year_Birth':'AnoNascimento', 
'Education':'Educacao', 
'Marital_Status':'EstadoCivil', 
'Income':'Renda', 
'Kidhome':'CriancaNaCasa', 
'Teenhome':'AdolescenteNaCasa', 
'Dt_Customer':'DtInscricao', 
'Recency':'UltimaCompra', 
'MntWines':'TotalVinho', 
'MntFruits':'TotalFrutas', 
'MntMeatProducts':'TotalProdutosCarnes', 
'MntFishProducts':'TotalProdutosPeixe', 
'MntSweetProducts':'TotalProdutosDoces', 
'MntGoldProds':'TotaltProdutosOuro', 
'NumDealsPurchases':'QtComprasDesconto', 
'NumWebPurchases':'QtComprasWeb', 
'NumCatalogsPurchases':'QtComprasCatalogo', 
'NumStorePurchases':'QtComprasLoja', 
'NumWebVisitsMonth':'QtComprasWebMes', 
'AcceptedCmp3':'AceitouCamapanha3', 
'AcceptedCmp4':'AceitouCamapanha4', 
'AcceptedCmp5':'AceitouCamapanha5', 
'AcceptedCmp1':'AceitouCamapanha1', 
'AcceptedCmp2':'AceitouCamapanha2', 
'Complain':'Reclamacao', 
'Z_CostContact':'CustoContato', 
'Z_Revenue':'ReceitaContato', 
'Response':'Resposta'}
, inplace=True)

df



---
Tradução do conteúda da coluna Educacao

In [ ]:
df['Educacao'].value_counts()

Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: Educacao, dtype: int64

In [ ]:
df['Educacao'].replace(['Graduation','PhD', 'Master', 'Basic', '2n Cycle'],['Graduacao', 'Doutorado', 'Mestre', 'Mestrando', 'EnsinoMedio'], inplace=True)

In [ ]:
df_backup_100100 = df.copy()



---
Tradução do conteúdo da coluna EstadoCivil

In [ ]:
df_backup_100100['EstadoCivil'].value_counts()

Married     864
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
YOLO          2
Absurd        2
Name: EstadoCivil, dtype: int64

In [ ]:
df_backup_100100['EstadoCivil'].replace(['Married','Together', 'Single', 'Divorced', 'Widow'],['Casado', 'UniaoEstavel', 'Solteiro', 'Divorciado', 'Viuvo'], inplace=True)

In [ ]:
df_backup_100100['EstadoCivil'].replace(['Alone', 'Absurd', 'YOLO'],pd.NA, inplace=True)

In [ ]:
df_backup_100101 = df_backup_100100.copy()


---
Verificação dos anos de nascimento para verificar outliers

In [ ]:
df_backup_100101['AnoNascimento'].value_counts()

In [ ]:
df_backup_100102 = df_backup_100101.copy()

In [ ]:
df_backup_100102['EstadoCivil'].isna().value_counts()

False    2233
True        7
Name: EstadoCivil, dtype: int64



---

Deletando da tabela informações de clientes cujo EstadoCivil Não é Aplicável(NA)

In [ ]:
df_backup_100102.dropna(subset=['EstadoCivil'], inplace = True)



---
Alterando coluna Resposta para que a informação fique compreensível

In [ ]:
df_backup_100102['Resposta'].replace([0, 1],['Rejeitou', 'Aceitou'], inplace=True)

In [ ]:
df_backup_100102.isna().sum()



---
Conversão das Datas de Inscrição dos usuários para datetime, para que possam ser utilizadas com mais facilidade na análise

In [ ]:
df_backup_100102['DtInscricao']= pd.to_datetime(df['DtInscricao'])



---
Remoção de colunas desnecessárias para a análise

In [ ]:
df_backup_100102.drop(columns=['CustoContato', 'ReceitaContato'], inplace=True)



---
Alterando coluna Reclamacao para que a informação fique compreensível

In [ ]:
df_backup_100102['Reclamacao'].replace([0, 1],['NaoReclamou', 'Reclamou'], inplace=True)

In [ ]:
df_backup_100102.isna().sum()

In [ ]:
DataFrame_Marketing = df_backup_100102.copy()



---
Exportando o DataFrame para ser o Google Drive

In [ ]:
DataFrame_Marketing.to_csv('/content/drive/MyDrive/Colab Notebooks/pre-projeto-analise de dados/marketing_dataframe.csv', sep=',', index='false')